{% extends '_layout.html' %}

{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
            </ul>
        </div>
    </div>
</div>
<div class="Blog-area pt-100 pb-100 blog-no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="blog-wrap-2 mb-30">
                            <div class="blog-img-2">
                                <a href="/{{post.id}}"><img  height="250px" src="/{{post.image_url}}" alt=""></a>
                            </div>
                            <div class="blog-content-2">
                                <div class="blog-meta-2">
                                    <ul>
                                        <li>{{ post.timestamp.strftime('%Y-%m-%d') }}</li>
                                        <li>{% if post.comments %}{{ post.comments|count }}{% else %}0 {% endif %} <i class="fa fa-comments-o"></i></li>
                                    </ul>
                                </div>
                                <h4><a href="/{{post.id}}">{{post.title|truncate(25) }}</a></h4>
                                <p>{{ post.description|truncate(108) }}</p>
                                <div class="blog-share-comment">
                                    <div class="blog-btn-2">
                                        <a href="/{{post.id}}">read more</a>
                                    </div>
                                    <div class="blog-share">
                                        <span> SOURCE CODE :</span>
                                        <div class="share-social">
                                            <ul>
                                                <li><a class="facebook" href="https://github.com/ventuno-21?tab=repositories"><i class="fa fa-github"></i></a></li>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
<!--                <div class="pro-pagination-style text-center mt-20">-->
<!--                    <ul>-->
<!--                        <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>-->
<!--                        <li><a class="active" href="#">1</a></li>-->
<!--                        <li><a href="#">2</a></li>-->
<!--                        <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

{% endblock %}