<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img alt="" src="{{ url_for('static', path='/assets/img/logo/logo-footer.jpg') }}">
                        </a>
                    </div>
                    <p>© 2024 <a href="/">Ventuno</a>.<br> All Rights Reserved</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>ABOUT US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="/about-us/contact/">About us</a></li>
                            <li><a href="/about-us/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>USEFUL LINKS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/redoc">API-Docs</a></li>
                            <li><a href="/docs">API-Swagger</a></li>
                            <li><a href="/post/create-post">New post</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>FOLLOW US</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="https://github.com/ventuno-21?tab=repositories">Github</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
