<div class="header-top-area">
    <div class="container">
        <div class="header-top-wap">
            <div class="language-currency-wrap">
                <div class="same-language-currency language-style">
                    <a href="#">English <i class="fa fa-angle-down"></i></a>
                    <div class="lang-car-dropdown">
                        <ul>
                            <li><a href="#">Arabic </a></li>
                            <li><a href="#">Bangla </a></li>
                            <li><a href="#">Hindi </a></li>
                            <li><a href="#">Spanish </a></li>
                        </ul>
                    </div>
                </div>
                <div class="same-language-currency use-style">
                    <a href="#">USD <i class="fa fa-angle-down"></i></a>
                    <div class="lang-car-dropdown">
                        <ul>
                            <li><a href="#">Taka (BDT) </a></li>
                            <li><a href="#">Riyal (SAR) </a></li>
                            <li><a href="#">Rupee (INR) </a></li>
                            <li><a href="#">Dirham (AED) </a></li>
                        </ul>
                    </div>
                </div>
                <div class="same-language-currency">
                    <p>Call Us 3965410</p>
                </div>
            </div>
            <div class="header-offer">
                <p>Free delivery on order over <span>$200</span></p>
            </div>
        </div>
    </div>
</div>
